version: "3.9"
services:
  sc2_controller:
    restart: unless-stopped
    image: aiarena/arenaclient-sc2:${TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: sc2_controller
      args:
        CARGO_FLAGS: "${CARGO_FLAGS}"
      tags:
        - aiarena/arenaclient-sc2:latest

  bot_controller:
    restart: unless-stopped
    image: aiarena/arenaclient-bot:${TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: bot_controller
      args:
        CARGO_FLAGS: "${CARGO_FLAGS}"
      tags:
        - aiarena/arenaclient-bot:latest

  match_controller:
    restart: unless-stopped
    image: aiarena/arenaclient-match:${TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: match_controller
      args:
        CARGO_FLAGS: "${CARGO_FLAGS}"
      tags:
        - aiarena/arenaclient-match:latest

  k8s_controller:
    restart: unless-stopped
    image: aiarena/k8s-controller:${TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: k8s_controller
      args:
        CARGO_FLAGS: "${CARGO_FLAGS}"
      tags:
        - aiarena/k8s-controller:latest
