name: Release

on:
  workflow_dispatch:

jobs:

  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          large-packages: false
          tool-cache: false
          swap-storage: false

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: "Build the docker-compose stack with version && push"
        run: CARGO_FLAGS="--release" TAG=v0.8.0 docker compose -f docker/docker-compose.yml build --push
