name: Test

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & test
    runs-on: ubuntu-latest
    steps:

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          large-packages: false
          tool-cache: false
          swap-storage: false

      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install lld & clang
        run: sudo apt install -y lld clang

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

      - name: Build bot_controller Docker image
        run: docker build -f docker/Dockerfile --target bot_controller -t aiarena/arenaclient-bot:latest .

      - name: Build sc2_controller Docker image
        run: docker build -f docker/Dockerfile --target sc2_controller -t aiarena/arenaclient-sc2:latest .

      - name: Build match_controller Docker image
        run: docker build -f docker/Dockerfile --target match_controller -t aiarena/arenaclient-match:latest .

      - name: Build client_controller
        run: cargo build --release --manifest-path client_controller/Cargo.toml --verbose

      - name: Bot controller integration test
        timeout-minutes: 15  # Fail if not completed after 15 minutes
        env:
          MATCHES_FILE: ${{ github.workspace }}/testing/bot-controller/test-matches
          BOTS_DIRECTORY: ${{ github.workspace }}/testing/aiarena-test-bots
          GAMESETS_DIRECTORY: ${{ github.workspace }}/testing/testing-maps
          VERSION: latest
        run: client_controller/target/release/client_controller

      - name: SC2 controller integration test
        timeout-minutes: 15  # Fail if not completed after 15 minutes
        env:
          MATCHES_FILE: ${{ github.workspace }}/testing/sc2-controller/test-matches
          BOTS_DIRECTORY: ${{ github.workspace }}/testing/aiarena-test-bots
          GAMESETS_DIRECTORY: ${{ github.workspace }}/testing/testing-maps
          VERSION: latest
        run: client_controller/target/release/client_controller

      - name: Build test-api-server
        run: cargo build --release --manifest-path testing/test-api-server/Cargo.toml --verbose

      - name: Match controller integration test
        timeout-minutes: 15  # Fail if not completed after 15 minutes
        env:
          API_URL: http://172.17.0.1:3000
          VERSION: latest
        run: testing/test-api-server/target/release/test-api-server & client_controller/target/release/client_controller
